.inquiry-card {
  padding-bottom: 40px;
  &-header {
    margin-bottom: 8px;
    @include text-style(12);

    .detail,
    .misc {
      @include flexbox(start);

      dd,
      strong {
        &::after {
          margin: 0 4px;
          content: '|';
        }
      }
      dd:last-child::after {
        display: none;
      }
    }

    .detail {
      margin-bottom: 8px;
      color: $primary;
    }
    .misc {
      color: $tertiary;
      strong {
        font-weight: 400;
      }
    }
  }

  &-body {
    .question-content {
      position: relative;
      padding-left: 20px;
    }

    span,
    p {
      @include text-style(13);
    }

    span {
      position: absolute;
      left: 0;
      font-weight: 700;
      color: $blue;
    }

    p {
      @include flexbox(start);
      color: $primary;

      i {
        margin-right: 8px;
        font-size: 13px;
        color: $tertiary;
      }
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }
    &-body {
      .question-content {
        padding-left: 24px;
      }

      span,
      p {
        @include text-style(16);
      }

      p {
        i {
          font-size: 16px;
        }
      }
    }
  }
}
