.product-table {
  $table-cell-padding: 12px;
  $table-cell-width-sm: 100px;
  $table-cell-width-md: 140px + $table-cell-padding;

  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  tr {
    @include text-style(12, $primary);
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid $border;
  }

  th,
  td {
    padding: 12px;
  }

  th {
    width: $table-cell-width-sm + $table-cell-padding;
    font-weight: 400;
    color: $secondary;
  }

  td {
    padding-left: 0;
  }

  @include responsive(T) {
    tr {
      @include text-style(14);
    }

    th {
      width: $table-cell-width-md + $table-cell-padding;
    }
  }
}
