.product-inquiry {
  @include mobile-only {
    padding-bottom: 0;

    &.is-open {
      .product-section-header .text-button,
      .product-section-content {
        display: block;
        padding-bottom: 20px;
      }
      .product-section-header .text-button {
        display: none;
      }
    }

    .product-section-header .text-button,
    .product-section-content {
      display: none;
    }
  }
}
