.product-recommendation {
  .product-list {
    @include flexbox(between, start);
    flex-wrap: wrap;
  }
  .product-item {
    width: calc(50% - 10px);

    a {
      display: block;

      &:active {
        img {
          transform: scale(1.1);
        }
        .product-card-title {
          opacity: 0.5;
        }
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }

  @include responsive(T) {
    .product-item {
      width: calc(33% - 11px);

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 0;
      }

      &:last-child {
        display: none;
      }
    }
  }

  @include responsive(D) {
    .product-item {
      a:hover {
        img {
          transform: scale(1.1);
        }

        .product-card-title {
          opacity: 0.5;
        }
      }
    }
  }
}
