.product-carousel {
  $grid-margin: 15px;
  position: relative;
  &-slider {
    margin: 0 -#{grid-margin};
  }
  margin-left: -15px;
  margin-right: -15px;
  &-thumbnail {
    @include pos-center-x;
    bottom: 16px;
    .thumbnail {
      &-list {
        @include flexbox;
      }
      &-item {
        &.tns-nav-active {
          button {
            opacity: 1;
            transform: scale(1.333333);
          }
        }

        @include flexbox;
        margin: 0 4px;
        button {
          width: 6px;
          height: 6px;
          background-color: white;
          opacity: 0.7;
          border-radius: 50%;
          transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
          img {
            display: none;
          }
        }
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
