.floating-order-form {
  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm + $product-tab-height-sm;
  @include flexbox(start, start);
  padding: 24px 0;
  flex-direction: column;

  max-height: calc(100vh - #{$gnb-height-sm + $lnb-height-sm + $product-tab-height-sm});
  min-height: calc(100vh - #{$gnb-height-sm + $lnb-height-sm + $product-tab-height-sm + $global-footer-height});

  > * {
    width: 100%;
  }

  .order-checkouts {
    flex-grow: 1;
    overflow-y: auto;

    @include no-scrollbar;
    overscroll-behavior: contain;
  }

  .order-inputs,
  .order-summary,
  .button-group {
    flex-shrink: 0;
  }

  .button-group {
    .bookmark-button {
      flex: 0 0 auto;
      width: 55px;
      border: 1px solid $border;
      border-radius: 4px;
      transition: background-color 200ms ease-in-out;

      &.is-active {
        i {
          color: $blue;
        }
      }

      &:hover {
        background-color: $background;
      }

      i {
        font-size: 32px;
        color: $primary;
      }
    }
  }
  @include responsive(T) {
    top: $gnb-height-md + $lnb-height-md + $product-tab-height-md;
  }
}
