.lnb {
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  //border-bottom: 1px solid $border;

  &-list {
    @include flexbox(start);
  }

  &-item {
    flex-shrink: 0;

    &.is-active {
      a {
        @include text-style(13, $blue);
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $black);
      font-weight: 700;
      padding: 0 8px;
      height: 40px;
    }

    .ic-new {
      color: $red;
    }
  }
}
