.lnb {
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  &-list {
    position: relative;
    left: -8px;
    @include inline-flexbox(start);
    white-space: nowrap;
  }

  &-item {
    &.is-active {
      a {
        @include text-style(13, $blue);
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $black);
      font-weight: 700;
      padding: 0 8px;
      height: 40px;
    }

    .ic-new {
      color: $red;
    }
  }
}
